################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChurchMemberProfile.WS.Entity/obj/Debug
*.suo
/ChurchMemberProfile.WS.Data/obj/Debug
