################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChurchMemberProfile.WS.Entity/obj/Debug
*.suo
/ChurchMemberProfile.WS.Data/obj/Debug
/ChurchMemberProfile.WS.Data/bin/Debug
/ChurchMemberProfile.WS.Data.Core/bin/Debug
/ChurchMemberProfile.WS.Data.Core/obj/Debug/TempPE
/ChurchMemberProfile.WS.Data.Core/obj/Debug
/ChurchMemberProfile.WS.Entity/bin/Debug
/ChurchMemberProfile.WS.Model/bin/Debug
/ChurchMemberProfile.WS.Model/obj/Debug
