USE [master]
GO
/****** Object:  Database [ChurchMemberProfile]    Script Date: 8/12/2015 10:24:29 PM ******/
CREATE DATABASE [ChurchMemberProfile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChurchMemberProfile', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\ChurchMemberProfile.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChurchMemberProfile_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\ChurchMemberProfile_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin 
EXEC [ChurchMemberProfile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChurchMemberProfile]
GO
/****** Object:  Table [dbo].[MemberProfile]    Script Date: 8/12/2015 10:24:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberProfile](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[MI] [nvarchar](50) NULL,
	[Nickname] [nvarchar](50) NULL,
	[Birthdate] [date] NOT NULL,
	[LeaderId] [int] NULL,
	[Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_MemberProfile] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
